.terminal {
	background: rgb(49, 49, 49);
	border-radius: 0.5rem;
	height: 25em;
	color: rgb(180, 180, 0);
	padding: 1em 2em 1em 2em;
	font-family: monospace;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.terminal-input {
	background: transparent;
	border: none;
	color: yellow;
	font-family: monospace;
	font-size: 16px;
	outline: none;
	padding: 0;
}

.terminal-input::selection {
	background: yellow;
	color: black;
}

.terminal-output {
	color: white;
	background: none;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 14px;
}

.terminal-output::selection {
	background: white;
	color: black;
}

.tx-checkbox[type="checkbox"] {
	transform: scale(1.5);
	transform-origin: top right;
	align-self: flex-start;
	width: 2em;
}
