.mnemonic-card {
	/* background: lightgray; */
}

.mnemonic-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.25em;
}

@media screen and (min-width: 769px), print {
	.mnemonic-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2.25em;
	}
}
